        <a href="{{ link.setting || '/setting' }}" class="list-group-item{% if current == 'setting' %} active{% endif %}" data-toggle="tooltip" data-placement="right" title="设置">
          <span class="glyphicon fa fa-cogs" aria-hidden="true"> </span>
          <span>设置</span>
        </a>
        <a href="/sign-out" class="list-group-item" data-toggle="tooltip" data-placement="right" title="退出">
          <span class="glyphicon fa fa-sign-out" aria-hidden="true"> </span>
          <span>退出</span>
        </a>